body { 
    background-color:rgb(255, 193, 193);
    position: relative;
    width: 750px;
    margin: 0 auto;
}
h2 {
    color: navy;
    font-family: monospace;
    text-align: center;
}
.field {
    color: darkgreen;
    font-size: 25px;
    font-weight: bold;
}
input {
    border-top-style: dashed;
    border-right-style: solid;
    border-bottom-style: dashed;
    border-left-style: solid;
    border-radius: 5px;
}
legend {
    Font-size: 30px;
    font-variant: small-caps;
    font-style: oblique;
}
fieldset {
    border-color: brown;
    border-width: medium;
    border-left:6px solid navy;
    background-color: rgb(255, 217, 217)

}